* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.placeholder {
    font-size: 1rem;
}

@media only screen and (min-width: 600px) {
    .placeholder {
        font-size: 1.25rem;
    }
}


/* ANIMATION */

.fade-in {
    opacity: 0;
    transform: scale(.9)
}

.fade-in.active {
    animation: fade-in .3s ease-in forwards;
}

.slide-left {
    opacity: 0;
    transform: translateX(-30%);
}

.slide-left.active {
    animation: slide-left .5s ease-in forwards;
}


/* KEYFRAMES */
@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}